.text-vserver-location{
	font-size: 12px;
}
.text-vserver-name{
	font-size: 12px;
}
.text-vserver-cores{
	font-size: 12px;
}
.text-vserver-ram{
	font-size: 12px;
}
.text-vserver-disk{
	font-size: 12px;
}
.col-md-6{

	margin-top: -100px;
	position: relative;
}